In [1]:
import pandas as pd 
import numpy as np

In [104]:
jan18= pd.read_csv("18Jan_3199.csv")
feb6 = pd.read_csv("6Feb_3199.csv")
feb14 = pd.read_csv("15Feb_3199.csv")
feb16 = pd.read_csv("17Feb_3199.csv")

In [105]:
feb6

     Governor ID       Power     T4-Kills     T5-Kills    Kill Points
0       13435989  93.121.652  146.853.198  116.583.920  3.818.182.174
1       72394837  90.357.396   89.003.129   46.134.323  1.912.886.613
2         511299  90.043.074  166.131.375   92.019.792  3.566.542.219
3      126110613  81.860.579   92.290.657   40.738.391  1.786.854.626
4      126111420  77.210.417   72.268.986   35.516.722  1.446.947.092
..           ...         ...          ...          ...            ...
513    158692899   5.030.524        4.064            0        383.444
514    145867354   5.013.614            0            0        117.178
515    158248215   4.976.781       17.896            0        256.260
516    158203969   4.957.386       12.510            0        199.323
517    156060029   4.939.219       19.987          141        625.373

[518 rows x 5 columns]

In [106]:
before_kl = pd.merge(feb6,feb14,on="Governor ID")

before_kl

,Governor ID,Power_x,T4-Kills_x,T5-Kills_x,Kill Points_x,Power_y,T4-Kills_y,T5-Kills_y,Kill Points_y,Dead Troops
0,13435989,93.121.652,146.853.198,116.583.920,3.818.182.174,96.359.502,151.643.408,118.393.872,3.902.328.618,28.726.633
1,72394837,90.357.396,89.003.129,46.134.323,1.912.886.613,90.086.715,94.194.029,47.318.533,1.988.494.137,8.892.013
2,511299,90.043.074,166.131.375,92.019.792,3.566.542.219,88.634.728,173.588.526,93.951.115,3.679.967.622,22.121.315
3,126110613,81.860.579,92.290.657,40.738.391,1.786.854.626,87.686.409,92.898.905,40.916.669,1.796.502.666,7.950.621
4,126111420,77.210.417,72.268.986,35.516.722,1.446.947.092,77.879.857,72.305.335,35.580.126,1.448.578.662,13.978.485
...,...,...,...,...,...,...,...,...,...,...
481,158760691,5.055.646,79.311,2.731,2.223.932,5.096.205,79.311,2.731,2.223.932,634.497
482,145867354,5.013.614,0,0,117.178,5.020.106,0,0,117.178,3.807
483,158248215,4.976.781,17.896,0,256.260,4.995.381,17.896,0,256.260,246.748
484,158203969,4.957.386,12.510,0,199.323,4.957.386,12.510,0,199.323,136.325
485,156060029,4.939.219,19.987,141,625.373,4.944.219,19.987,141,625.373,303.166

In [107]:
before_kl.dropna()

,Governor ID,Power_x,T4-Kills_x,T5-Kills_x,Kill Points_x,Power_y,T4-Kills_y,T5-Kills_y,Kill Points_y,Dead Troops
0,13435989,93.121.652,146.853.198,116.583.920,3.818.182.174,96.359.502,151.643.408,118.393.872,3.902.328.618,28.726.633
1,72394837,90.357.396,89.003.129,46.134.323,1.912.886.613,90.086.715,94.194.029,47.318.533,1.988.494.137,8.892.013
2,511299,90.043.074,166.131.375,92.019.792,3.566.542.219,88.634.728,173.588.526,93.951.115,3.679.967.622,22.121.315
3,126110613,81.860.579,92.290.657,40.738.391,1.786.854.626,87.686.409,92.898.905,40.916.669,1.796.502.666,7.950.621
4,126111420,77.210.417,72.268.986,35.516.722,1.446.947.092,77.879.857,72.305.335,35.580.126,1.448.578.662,13.978.485
...,...,...,...,...,...,...,...,...,...,...
481,158760691,5.055.646,79.311,2.731,2.223.932,5.096.205,79.311,2.731,2.223.932,634.497
482,145867354,5.013.614,0,0,117.178,5.020.106,0,0,117.178,3.807
483,158248215,4.976.781,17.896,0,256.260,4.995.381,17.896,0,256.260,246.748
484,158203969,4.957.386,12.510,0,199.323,4.957.386,12.510,0,199.323,136.325
485,156060029,4.939.219,19.987,141,625.373,4.944.219,19.987,141,625.373,303.166

In [108]:
before_kl["T4-Kills_y"] = before_kl["T4-Kills_y"].astype(str).str.replace('.', '').astype(int)
before_kl["T5-Kills_y"] = before_kl["T5-Kills_y"].astype(str).str.replace('.', '').astype(int)
before_kl["T4-Kills_x"] = before_kl["T4-Kills_x"].astype(str).str.replace('.', '').astype(int)
before_kl["T5-Kills_x"] = before_kl["T5-Kills_x"].astype(str).str.replace('.', '').astype(int)

before_kl["T4 DIFF"] = before_kl["T4-Kills_y"] -  before_kl["T4-Kills_x"]
before_kl["T5 DIFF"] =before_kl["T5-Kills_y"] -  before_kl["T5-Kills_x"]

C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\444050892.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  before_kl["T4-Kills_y"] = before_kl["T4-Kills_y"].astype(str).str.replace('.', '').astype(int)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\444050892.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  before_kl["T5-Kills_y"] = before_kl["T5-Kills_y"].astype(str).str.replace('.', '').astype(int)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\444050892.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  before_kl["T4-Kills_x"] = before_kl["T4-Kills_x"].astype(str).str.replace('.', '').astype(int)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\444050892.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  before_kl["T5-Kills_x"] = before_kl["T5-Kills_x"].astype(str).str.replace('.', '').astype(int)

In [109]:
t4_sum_6_14 = before_kl["T4 DIFF"].sum()
t5_sum_6_14 = before_kl["T5 DIFF"].sum()

In [110]:
print("t4 sum : ",t4_sum_6_14)
print("t5 sum : ", t5_sum_6_14)

t4 sum :  88375082
t5 sum :  27398269

In [111]:
before_kl_18_6 = pd.merge(jan18,feb6,on="Governor ID")

before_kl_18_6
before_kl_18_6.dropna()
before_kl_18_6["T4-Kills_y"] = before_kl_18_6["T4-Kills_y"].astype(str).str.replace('.', '').astype(int)
before_kl_18_6["T5-Kills_y"] = before_kl_18_6["T5-Kills_y"].astype(str).str.replace('.', '').astype(int)
before_kl_18_6["T4-Kills_x"] = before_kl_18_6["T4-Kills_x"].astype(str).str.replace('.', '').astype(int)
before_kl_18_6["T5-Kills_x"] = before_kl_18_6["T5-Kills_x"].astype(str).str.replace('.', '').astype(int)

before_kl_18_6["T4 DIFF"] = before_kl_18_6["T4-Kills_y"] -  before_kl_18_6["T4-Kills_x"]
before_kl_18_6["T5 DIFF"] =before_kl_18_6["T5-Kills_y"] -  before_kl_18_6["T5-Kills_x"]

t4_sum_18_6 = before_kl_18_6["T4 DIFF"].sum()
t5_sum_18_6 = before_kl_18_6["T5 DIFF"].sum()
print("t4 sum : ",t4_sum_18_6)
print("t5 sum : ", t5_sum_18_6)

t4 sum :  99300153
t5 sum :  24197066

C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\2922129532.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  before_kl_18_6["T4-Kills_y"] = before_kl_18_6["T4-Kills_y"].astype(str).str.replace('.', '').astype(int)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\2922129532.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  before_kl_18_6["T5-Kills_y"] = before_kl_18_6["T5-Kills_y"].astype(str).str.replace('.', '').astype(int)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\2922129532.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  before_kl_18_6["T4-Kills_x"] = before_kl_18_6["T4-Kills_x"].astype(str).str.replace('.', '').astype(int)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\2922129532.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  before_kl_18_6["T5-Kills_x"] = before_kl_18_6["T5-Kills_x"].astype(str).str.replace('.', '').astype(int)

In [112]:
after_kl = pd.merge(feb14,feb16,on="Governor ID")

after_kl
after_kl.dropna()


after_kl["T4-Kills_y"] = after_kl["T4-Kills_y"].astype(str).str.replace('.', '').astype(int)
after_kl["T5-Kills_y"] = after_kl["T5-Kills_y"].astype(str).str.replace('.', '').astype(int)
after_kl["T4-Kills_x"] = after_kl["T4-Kills_x"].astype(str).str.replace('.', '').astype(int)
after_kl["T5-Kills_x"] = after_kl["T5-Kills_x"].astype(str).str.replace('.', '').astype(int)
after_kl["Dead Troops_x"] = after_kl["Dead Troops_x"].astype(str).str.replace('.', '').astype(int)
after_kl["Dead Troops_y"] = after_kl["Dead Troops_y"].astype(str).str.replace('.', '').astype(int)

after_kl["T4 DIFF"] = after_kl["T4-Kills_y"] -  after_kl["T4-Kills_x"]
after_kl["T5 DIFF"] =after_kl["T5-Kills_y"] -  after_kl["T5-Kills_x"]
after_kl["Dead Diff"] = after_kl["Dead Troops_y"] -  after_kl["Dead Troops_x"]

t4_sum_kl = after_kl["T4 DIFF"].sum()
t5_sum_kl = after_kl["T5 DIFF"].sum()
dead_sum_kl = after_kl["Dead Diff"].sum()
print("t4 sum : ",t4_sum_kl)
print("t5 sum : ", t5_sum_kl)
print("Dead diff : ",dead_sum_kl)

t4 sum :  122929748
t5 sum :  45061794
Dead diff :  24020071

C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\2096040378.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after_kl["T4-Kills_y"] = after_kl["T4-Kills_y"].astype(str).str.replace('.', '').astype(int)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\2096040378.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after_kl["T5-Kills_y"] = after_kl["T5-Kills_y"].astype(str).str.replace('.', '').astype(int)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\2096040378.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after_kl["T4-Kills_x"] = after_kl["T4-Kills_x"].astype(str).str.replace('.', '').astype(int)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\2096040378.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after_kl["T5-Kills_x"] = after_kl["T5-Kills_x"].astype(str).str.replace('.', '').astype(int)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\2096040378.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after_kl["Dead Troops_x"] = after_kl["Dead Troops_x"].astype(str).str.replace('.', '').astype(int)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_1144\2096040378.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after_kl["Dead Troops_y"] = after_kl["Dead Troops_y"].astype(str).str.replace('.', '').astype(int)

In [113]:
print("T4 sum 18jan-6feb : ",t4_sum_18_6)
print("t5 sum 18 Jan - 6Feb  : ", t5_sum_18_6)
print("t4 sum 6feb-14feb : ",t4_sum_6_14)
print("t5 sum 6feb - 14 feb  : ", t5_sum_6_14)

print("t4 sum KL : ",t4_sum_kl)
print("t5 sum KL: ", t5_sum_kl)
print("Dead diff KL : ",dead_sum_kl)

print("Total T4 Kills: ",t4_sum_18_6+t4_sum_6_14+t4_sum_kl)
print("Total t5 Kills: ",t5_sum_18_6+t5_sum_6_14+t5_sum_kl)
print("Total Dead: ",dead_sum_kl)

T4 sum 18jan-6feb :  99300153
t5 sum 18 Jan - 6Feb  :  24197066
t4 sum 6feb-14feb :  88375082
t5 sum 6feb - 14 feb  :  27398269
t4 sum KL :  122929748
t5 sum KL:  45061794
Dead diff KL :  24020071
Total T4 Kills:  310604983
Total t5 Kills:  96657129
Total Dead:  24020071